.main {
	height: 100vh;
}

.header {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 1%;
	height: 70px;
}

.App {

	display: flex;
	justify-content: center;
	margin-top: 5%;
	background-color: rgba(128, 128, 128, 0);
}

.bounce {
	animation: bounce-in .5s;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}